
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  
  
  border: 3px solid #f1f1f1;
  
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  z-index: 10px;
  background-color: white;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}